In [1]:
import pandas as pd

features = pd.read_csv('features.csv')
features

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [2]:
stores = pd.read_csv('stores.csv')
stores

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

In [3]:
test = pd.read_csv('test.csv')
test

        Store  Dept        Date  IsHoliday
0           1     1  2012-11-02      False
1           1     1  2012-11-09      False
2           1     1  2012-11-16      False
3           1     1  2012-11-23       True
4           1     1  2012-11-30      False
...       ...   ...         ...        ...
115059     45    98  2013-06-28      False
115060     45    98  2013-07-05      False
115061     45    98  2013-07-12      False
115062     45    98  2013-07-19      False
115063     45    98  2013-07-26      False

[115064 rows x 4 columns]

In [4]:
train = pd.read_csv('train.csv')
train

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [5]:
stock = pd.read_csv('WMT.csv')
stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,1972-08-25,0.063477,0.064697,0.063477,0.064453,0.036175,2508800
1,1972-08-28,0.064453,0.064941,0.064209,0.064209,0.036038,972800
2,1972-08-29,0.063965,0.063965,0.063477,0.063477,0.035627,1945600
3,1972-08-30,0.063477,0.063477,0.062988,0.063477,0.035627,409600
4,1972-08-31,0.062988,0.062988,0.062500,0.062500,0.035079,870400
...,...,...,...,...,...,...,...
12561,2022-06-17,120.019997,120.879997,117.970001,118.290001,118.290001,12166700
12562,2022-06-21,118.300003,122.779999,118.220001,122.169998,122.169998,7972200
12563,2022-06-22,122.099998,123.250000,120.589996,120.690002,120.690002,6745000
12564,2022-06-23,121.750000,123.959999,121.199997,123.620003,123.620003,6013600
12565,2022-06-24,124.089996,125.309998,123.160004,123.720001,123.720001,10611500

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Load datasets
stock = pd.read_csv('WMT.csv')
features = pd.read_csv('features.csv')
train = pd.read_csv('train.csv')

# Merge datasets
merged_data = pd.merge(train, features, on=['Store', 'Date'], how='left')
merged_data = pd.merge(merged_data, stock, on='Date', how='left')

In [7]:
# Preprocess data
merged_data['IsHoliday'] = merged_data['IsHoliday_x'].astype(int)  # Convert boolean to integer
merged_data.drop(['IsHoliday_x', 'IsHoliday_y'], axis=1, inplace=True)  # Drop redundant columns
merged_data.fillna(0, inplace=True)  # Fill missing values with 0

In [8]:
# Split data into features and target
X = merged_data.drop(['Weekly_Sales', 'Date'], axis=1)
y = merged_data['Weekly_Sales']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Train machine learning model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [11]:
# Make predictions
model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 23368826.15979257

array([51118.9664,  3219.2915, 10659.1271, ..., 11625.6786, 12803.2088,
       39635.0367])

In [12]:
predictions

array([51118.9664,  3219.2915, 10659.1271, ..., 11625.6786, 12803.2088,
       39635.0367])

In [13]:
model.predict(X_test)

array([51118.9664,  3219.2915, 10659.1271, ..., 11625.6786, 12803.2088,
       39635.0367])

In [11]:
print(merged_data.columns)

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday_x', 'Temperature',
       'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4',
       'MarkDown5', 'CPI', 'Unemployment', 'IsHoliday_y', 'Open', 'High',
       'Low', 'Close', 'Adj Close', 'Volume'],
      dtype='object')